@import "../../shared/Colors.scss";

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 90%;
  background-color: $color-light-gray;
  font-family: "Dudka", sans-serif;
}