:root {
  --vh: 100vh; /* Изначально устанавливаем переменную --vh */
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: calc(var(--vh));
  overflow: hidden;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  color: #1A1A1D;
}
a {
  text-decoration: none;
}

